<!--
 * Risk Definer Web Application
 * Produced by Adam Hustwit
 * 
 * This file contains code to list all risks for project ID specified in url.
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Risk Definer</title>
	
	<!-- Favicon (Code Reference #16)-->
	<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="fav/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="fav/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="fav/manifest.json">
	<link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="fav/favicon.ico">
	<meta name="msapplication-config" content="fav/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Bootstrap theme -->
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<!-- Bootstrap Javascript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Underscore - required for backbone -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
	<!-- Backbone -->
	<script src="js/backbone.js" type="text/javascript"></script>
	<!-- Custom styles for this template -->
	<link href="css/theme.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!-- Google Sign In / Authentication -->
    <meta name="google-signin-client_id" content="569521908010-9od0p1vsjov49f19jqchopfkg449vin4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/secure.js" type="text/javascript"></script>
    
    <!-- Error Handling -->
    <script src="js/errorHandling.js" type="text/javascript"></script>
    
    <!-- Form Handling -->
    <script src="js/formHandling.js" type="text/javascript"></script>
    
    <!-- Grid Layout -->
    <script src="js/grid.js" type="text/javascript"></script>
    
</head>	

<body id="pageBody">
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
	  	<div class="container contentHolder">
	        <div id="navbar" class="navbar-collapse collapse">
	       		<ul class="nav navbar-nav priv">
	            	<li><a href="/client/">Select Project</a></li>
	           		<li class="active1">
	           			<a href="" onclick="$('html,body').animate({scrollTop: $('#pageBody').offset().top},'slow');event.preventDefault();">
	           				Project Risks</a>
	           		</li>
	        	</ul>
	        	<ul class="nav navbar-nav navbar-right">
			    	<li>
			    		<a class="priv" data-toggle="modal" data-target="#newProjectModal" onclick="errorHideAll();emptyRiskFields()" href="">
			    			Add Risk
			    		</a>
	  				</li>
	  				<li>
			    		<a href="" onclick="$('html,body').animate({scrollTop: $('#rGrid').offset().top},'slow');event.preventDefault();">
			    			View Grid
			    		</a>
	  				</li>
	  				<li><a href="" onclick="signOut();">Logout</a></li>
			    </ul>
	        </div>
		</div>
   	</nav>
   	<!-- Main Page Content -->
   	<div class="container theme-showcase contentHolder" role="main">
		<!-- Main jumbotron-->
      	<div class="jumbotron" id="rJumbotron">
	        <div id="rJumLeft">
	        	<p id="projectName"></p>
	        	<p id="managerName"></p>
	        </div>
	        <div id="rJumRight">
	        	<img style="float:left;" src="fav/android-chrome-192x192.png" alt="Risk Definer Logo" height="92" width="92">
	        	<p>Risk<br>Definer</p>
	        </div>
	        
        </div>
        
        <!-- Error Messages -->
        <div class="alert alert-danger alert-dismissible" id="modFailed" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 			<strong>Warning!</strong> Something went wrong your latest modification, Sorry! Look below nothing has changed &#9785;
		</div>
		<div class="alert alert-danger alert-dismissible" id="networkLost" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 			<strong>Warning!</strong> Network Connection has been Lost! Please <a onclick="window.location.reload();">click here</a> 
 					to reload page.
		</div>
    	
    	<!-- Table of Risks -->
	    <table class="table">
	    	<thead>
	        <tr>
	        	<th id="col0r">ID</th>
	            <th id="col1r">Risk</th>
	            <th id="col2r">Impact</th>
	            <th id="col3r">Likelihood</th>
	            <th id="col4r">Status</th>
	            <th id="col5r"></th>
	        </tr>
	        </thead>
	        <tbody id="risks">
	        	<script id="rTemplate" type="text/template">
    				<td><%= rID %></td>
					<td>
						<a data-toggle="modal" data-target="#editModal<%= id %>" onclick="errorHideAll()"><%= rName %></a>
					</td>
					<td class="center"><%= impact %></td>
					<td class="center"><%= probability %></td>
					<td class="center"><%= status %></td>
					<td>
						
						<button class="delete pull-right rButtons btn btn-info priv" aria-label="Delete Risk" title="Delete">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"> 
						</button>
						<button class="edit pull-right rButtons btn btn-info priv" aria-label="Edit Risk" title="Edit" data-toggle="modal" 
								data-target="#editModal<%= id %>" onclick="errorHideAll()">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true">
						</button>
						<button class="edit pull-right rButtons btn btn-info" aria-label="Full Details" title="Full Details" data-toggle="modal" 
								data-target="#editModal<%= id %>" onclick="errorHideAll()">
							Full Details
						</button>
						
						<!-- Popup Modal for risk edit-->
						<div class="modal fade" id="editModal<%= id %>" tabindex="-1" role="dialog" aria-labelledby="EditRisk">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
							    	<div class="modal-header">
							        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
							        	<h4 class="modal-title">Edit Risk: <%= rName %></h4>
							      	</div>
							    	<div class="modal-body">
										<!-- Validation Error Messages -->
        								<div class="alert alert-danger saveFailed" role="alert">
 											<strong>Warning!</strong> Sorry the system cannot submit this because...
											<ul class="vfReason"></ul>
										</div>
							        	<form class="editForm">
		        							<label for="rNameInput">Risk Name*</label>
		       						 		<div class="input-group">
												<input type="text" id="rNameInput<%= id %>" class="form-control" placeholder="risk name" 
														aria-describedby="sizing-addon2" value="<%= rName %>" maxlength="65">
											</div>
											<label for="impactInput">Impact*</label>
		 						       		<div class="input-group">
												<input type="number" id="impactInput<%= id %>" class="form-control" placeholder="impact" 
														aria-describedby="sizing-addon2" value="<%= impact %>" max="10" min="1">
											</div>
											<label for="probabilityInput">Probability*</label>
		        							<div class="input-group">
												<input type="number" id="probabilityInput<%= id %>" class="form-control" placeholder="probability" 
														aria-describedby="sizing-addon2"  value="<%= probability %>" max="10" min="1">
											</div>
											<label for="descriptionInput">Description</label>
		        							<div class="input-group">
												<textarea id="descriptionInput<%= id %>" class="form-control" placeholder="description" 
														aria-describedby="sizing-addon2" value="<%= description %>"></textarea>
											</div>
											<label for="mitigationInput">Mitigation</label>
		        							<div class="input-group">
												<textarea id="mitigationInput<%= id %>" class="form-control" placeholder="mitigation" 
														aria-describedby="sizing-addon2"  value="<%= mitigation %>"></textarea>
											</div>
											<label for="statusInput">Status*</label>
		        							<div class="input-group statusGroup">
												<% if(status==="Open"){ %>
													<input type="radio" name="statusInput<%= id %>"" id="sDefault" value="Open" checked> Open<br />
  													<input type="radio" name="statusInput<%= id %>" value="Closed"> Closed
												<% } else { %>
  													<input type="radio" name="statusInput<%= id %>"" id="sDefault" value="Open"> Open<br />
  													<input type="radio" name="statusInput<%= id %>" value="Closed" checked> Closed
												<% } %>
											</div>
							        	</form>
							    	</div>
							    	<div class="modal-footer">
										<p class="pull-left">* = Required</p>
							       		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							       		<button type="button" class="btn btn-primary saveEdit priv" >Save changes</button>
					
							    	</div>
							    </div>
							</div>
  					  </div>
					</td>
  				</script>
	        </tbody>
	        
	        <tfoot id="tFooter">
	        	<tr>
	  				<td></td>
	  				<td></td>
	  				<td></td>
	  				<td></td>
	  				<td></td>
	  				<td>
	  					<button type="button" class="btn btn-primary btn-lg pull-right priv" data-toggle="modal" data-target="#newProjectModal"
	  							style="margin-top:30px;" onclick="errorHideAll();emptyRiskFields()">
  							Add New Risk
						</button>
					</td>
	  			</tr>
	        </tfoot>
	    </table>
	    
	    <!-- Risk Grid Error Messages -->
        <div class="alert alert-danger alert-dismissible" id="modFailedGrid" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 			<strong>Warning!</strong> Something went wrong your latest modification, Sorry! Look below nothing has changed &#9785;
		</div>
	    
	    <!-- Grid Plotting Risks-->
	    <div id="rGrid">
	    	<div id="y-axis"><h3 class="rotate">Likelihood</h3></div>
	    	<div id="pHead1" class="probHeading">
				<div class="probCatHolder rotate">
					<h3 class="probCat">Very High</h3>
				</div>
				<div class="rotate probNumHolder">
					<h3 class="probNum">9</h3>
					<h3 class="probNum">10</h3>
				</div>
			</div>
			<div data-impact=1 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=2 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=3 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=4 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=5 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=6 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=7 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=8 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=9 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=10 data-prob=10 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=1 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=2 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=3 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=4 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=5 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=6 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=7 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=8 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=9 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=10 data-prob=9 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div id="pHead2" class="probHeading">
				<div class="probCatHolder rotate">
					<h3 class="probCat">High</h3>
				</div>
				<div class="rotate probNumHolder">
					<h3 class="probNum">7</h3>
					<h3 class="probNum">8</h3>
				</div>
			</div>
			<div data-impact=1 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=2 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=3 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=4 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=5 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=6 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=7 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=8 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=9 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=10 data-prob=8 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=1 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=2 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=3 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=4 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=5 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=6 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=7 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=8 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=9 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div data-impact=10 data-prob=7 ondragover="allowDrop(event)" class="gridBox bg-red"></div>
			<div id="pHead3" class="probHeading">
				<div class="probCatHolder rotate">
					<h3 class="probCat">Medium</h3>
				</div>
				<div class="rotate probNumHolder">
					<h3 class="probNum">5</h3>
					<h3 class="probNum">6</h3>
				</div>
			</div>
			<div data-impact=1 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=2 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=3 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=4 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=5 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=6 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=7 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=8 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=9 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=10 data-prob=6 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=1 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=2 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=3 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=4 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=5 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=6 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=7 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=8 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=9 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=10 data-prob=5 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div id="pHead3" class="probHeading">
				<div class="probCatHolder rotate">
					<h3 class="probCat">Low</h3>
				</div>
				<div class="rotate probNumHolder">
					<h3 class="probNum">3</h3>
					<h3 class="probNum">4</h3>
				</div>
			</div>
			<div data-impact=1 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=2 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=3 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=4 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=5 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=6 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=7 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=8 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=9 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=10 data-prob=4 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=1 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=2 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=3 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=4 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=5 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=6 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=7 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=8 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=9 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=10 data-prob=3 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div id="pHead4" class="probHeading">
				<div class="probCatHolder rotate">
					<h3 class="probCat">Very Low</h3>
				</div>
				<div class="rotate probNumHolder">
					<h3 class="probNum">1</h3>
					<h3 class="probNum">2</h3>
				</div>
			</div>
			<div data-impact=1 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=2 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=3 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=4 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=5 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=6 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=7 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=8 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=9 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=10 data-prob=2 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=1 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=2 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=3 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=4 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=5 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=6 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=7 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=8 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-green"></div>
			<div data-impact=9 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div data-impact=10 data-prob=1 ondragover="allowDrop(event)" class="gridBox bg-orange"></div>
			<div id="pHead5" class="probHeading"></div>
			<div class="impNumHeading">
				<h3>1</h3>
			</div>
			<div class="impNumHeading">
				<h3>2</h3>
			</div>
			<div class="impNumHeading">
				<h3>3</h3>
			</div>
			<div class="impNumHeading">
				<h3>4</h3>
			</div>
			<div class="impNumHeading">
				<h3>5</h3>
			</div>
			<div class="impNumHeading">
				<h3>6</h3>
			</div>
			<div class="impNumHeading">
				<h3>7</h3>
			</div>
			<div class="impNumHeading">
				<h3>8</h3>
			</div>
			<div class="impNumHeading">
				<h3>9</h3>
			</div>
			<div class="impNumHeading">
				<h3>10</h3>
			</div>
			<div id="pHead6" class="probHeading"></div>
			<div id="iHead1" class="impHeading">
				<h3>Very Low</h3>
			</div>
			<div id="iHead2" class="impHeading">
				<h3>Low</h3>
			</div>
			<div id="iHead3" class="impHeading">
				<h3>Medium</h3>
			</div>
			<div id="iHead4" class="impHeading">
				<h3>High</h3>
			</div>
			<div id="iHead5" class="impHeading">
				<h3>Very High</h3>
			</div>
			<div id="x-axis"><h3>Impact</h3></div>
	    </div>
	    
	    
		<!-- Popup Modal To add new risk-->
		<div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
			    	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="editRiskTitle">Add New Risk</h4>
			      	</div>
			    	<div class="modal-body">
			    		<!-- Validation Error Messages -->
		  				<div class="alert alert-danger saveFailed" role="alert">
							<strong>Warning!</strong> Sorry the system cannot submit this because...
							<ul class="vfReason"></ul>
						</div>
			        	<form>
			        		<label for="rNameInput">Risk Name*</label>
			        		<div class="input-group">
								<input type="text" id="rNameInput" class="form-control" placeholder="risk name" aria-describedby="sizing-addon2"
										maxlength="65">
							</div>
							<label for="impactInput">Impact*</label>
			        		<div class="input-group">
								<input type="number" id="impactInput" class="form-control" placeholder="impact" aria-describedby="sizing-addon2"
										max="10" min="1">
							</div>
							<label for="probabilityInput">Probability*</label>
			        		<div class="input-group">
								<input type="number" id="probabilityInput" class="form-control" placeholder="probability" aria-describedby="sizing-addon2"
										max="10" min="1">
							</div>
							<label for="descriptionInput">Description</label>
			        		<div class="input-group">
								<textarea id="descriptionInput" class="form-control" placeholder="description" aria-describedby="sizing-addon2"></textarea>
							</div>
							<label for="mitigationInput">Mitigation</label>
			        		<div class="input-group">
								<textarea id="mitigationInput" class="form-control" placeholder="mitigation" aria-describedby="sizing-addon2"></textarea>
							</div>
							<label for="statusInput">Status*</label>
			        		<div class="input-group">
								<input type="radio" name="statusInput" id="sDefault" value="Open" checked> Open<br />
		 							<input type="radio" name="statusInput" value="Closed"> Closed
							</div>
			        	</form>
			    	</div>
			    	<div class="modal-footer">
			    		<p class="pull-left">* = Required</p>
			       		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			       		<button type="button" class="btn btn-primary saveNew priv">Save</button>
			    	</div>
			    </div>
			</div>
		</div>
		
		<div id="bbRiskScriptHolder"></div>
	</div>
	 
 	<!-- Google Sign In / Authentication -->
 	<div id="loginWindow" class="container container-table">
 		<div class="row vertical-center-row">
 			<div class="text-center col-md-4 col-md-offset-4">
 				<h2>Risk Definer requires users to login before use...</h2>
 				<br />
 				<div class="g-signin2" align="center" data-onsuccess="onSignIn" data-theme="dark"></div>
 				<br />
 				<h3>Thanks</h3>
 			</div>
 		</div>
 	</div>
	 	
	 
</body>
</html>