/* Default Bootstrap Theme */
body {
	padding-top: 70px;
	padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}
.theme-showcase > p > .btn {
	margin: 5px 0;
}
.theme-showcase .navbar .container {
	width: auto;
}


/* Modal Window */
.input-group {
	width: 100%;
}


/* Page Content Hidden Until Login */
.contentHolder {
	display:none;
}


/* Project and Risk Lists */
.rButtons {
	margin-right: 15px;
}
.table thead tr th {
	border-bottom: 2px solid #87D542!important;
}
.table tbody tr td {
	border-bottom: 1px solid #AED18E!important;
}
.table tbody tr td a{
	color: #333;
}
.table tbody tr td a:hover{
	color: #777;
	text-decoration: none;
}
.table #col3, .table #col5r{
	min-width:240px;
} 
.table #col2{
	min-width:300px;
} 
.table>tbody>tr>td{
	    vertical-align: middle;
}
.table #col2r, .table #col3r, .table #col4r{
	text-align:center;
} 
.table .center{
	text-align:center;
} 


/* Jumbotron */
.jumbotron {
	background-color:#AED18E!important;
	border: 3px solid #87D542!important;
}


/* Navigation Bar */
.navbar-default {
	border-top: 2px solid!important;
	border-bottom: 2px solid!important;
  	border-color: #87D542!important;
}
.navbar-default .navbar-nav>.active1>a, .navbar-default .navbar-nav>.active1>a:focus, .navbar-default .navbar-nav>.active1>a:hover {
    background-color:#AED18E!important;
}
.active1:after{
	content: " ";
	border-top: 25px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 25px solid transparent;
	border-left: 25px solid #AED18E;
	position: absolute;
	top: 50%;
	margin-top: -25px; 
	left: 100%;
}
.navbar-right>li{
	border-left: 2px solid #AED18E!important;
}
.navbar-right{
	border-right: 2px solid #AED18E!important;
}
.nav .subsequentItem{
	margin-left:13px!important;
}
.nav .subsequentItem> a:hover{
	color:#777!important;
}


/* Buttons */
.btn-primary, .btn-primary:visited,  .btn-primary:active, .btn-primary:focus  {
    color: #000;
    background-color: #AED18E!important;
    border: solid 2px #87D542!important;
}
.btn-primary:hover {
    color: #000;
    background-color: #87D542!important;
    border: solid 2px #87D542!important;
}
.close {
    color: green!important;
}
.btn-default {
    border: solid 2px #87D542!important;
}
.btn-default:hover {
    background-color: #AED18E!important;
}
.btn-info {
    color: #ffffff!important;
}


/* Bootstrap bug fix for nav bar nudge on model open. */
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
padding-right: 17px;
}


/* Model Window */
.modal-header {
    border-bottom: 1px solid #AED18E;
}


/* Form */
.form-control {
    border-color: #AED18E!important;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(92, 184, 92, 0.77);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(92, 184, 92, 0.77);;
}


/* Alerts */
.alert {
	display:none;
}

/* Risk Grid */
.gridBox {
	float:left;
	width:205px;
	height:80px;
	border:2px solid #000;
}
.probHeading{
	float:left;
	width:80px;
	height:80px;
	display: table;
} 
#pHead4{
	height:30px;
}   
.probHeading>h3{
	display: table-cell;
	vertical-align:middle;
	text-align:center;
	font-size:15pt;
} 
.likeHeading {
	float:left;
	width:205px;
	height:30px;
	text-align:center;
	font-size:15pt;
	display: table;
}
.likeHeading>h3{
	padding-top: 5px;
	display: table-cell;
	vertical-align:top;
	text-align:center;
	font-size:15pt;
} 

/* Insert Reference */
.rotate {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	padding-left: 100px;
	position: relative;
    top: 335px;
}
#y-axis {
	width:30px;
	height:455px;
	float:left;
}
#x-axis {
	width:1104px;
	height:60px;
	float:left;
}
#x-axis>h3 {
	margin-top:0px;
	text-align:center;
	margin-left: 80px;
}
#div4, #div5, #div10{
	background-color:red;
}
#div1, #div2, #div3, #div8, #div9, #div14, #div15, #div20, #div25{
	background-color:orange;
}
#div6, #div7, #div11, #div12, #div13, #div16, #div17, #div18, #div19, #div21, #div22, #div23, #div24{
	background-color:green;
}
    